@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 255 255 255;
  --foreground: 0 0 0;
}

[data-theme='dark'] {
  --background: 16 16 16;
  --foreground: 242 242 242;
}

body {
  background-color: rgb(var(--background));
  color: rgb(var(--foreground));
}

/* Add to your existing styles */
@keyframes slideOut {
  from {
    width: auto;
    opacity: 1;
  }
  to {
    width: 0;
    opacity: 0;
  }
}

@keyframes slideIn {
  from {
    width: 0;
    opacity: 0;
  }
  to {
    width: auto;
    opacity: 1;
  }
}

@keyframes flipLetter {
  0% {
    transform: rotateX(0deg);
    opacity: 1;
  }
  50% {
    transform: rotateX(90deg);
    opacity: 0.5;
  }
  100% {
    transform: rotateX(0deg);
    opacity: 1;
  }
}

.animate-flipLetter {
  animation: flipLetter 0.5s ease-in-out;
  transform-style: preserve-3d;
}

@keyframes float {
  0% {
    transform: translate(0, 0);
  }
  20% {
    transform: translate(-10px, 10px);
  }
  40% {
    transform: translate(10px, -10px);
  }
  60% {
    transform: translate(-5px, -5px);
  }
  80% {
    transform: translate(5px, 5px);
  }
  100% {
    transform: translate(0, 0);
  }
}

.animate-float {
  animation: float linear infinite;
}
